<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parthtrap.donationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonationApp">
        <activity android:name=".AuthenticationPages.NGOSignUpInfoInputPage"></activity>
        <activity android:name=".NGOPortal.HomePage" />
        <activity android:name=".AuthenticationPages.NGOSignUpPage" />
        <activity android:name=".AuthenticationPages.NGOLoginPage" />
        <activity android:name=".UserPortal.DonateItemUploadPage" />
        <activity android:name=".UserPortal.AdvancedSearchPage" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".AuthenticationPages.SignUpMapInfoPage" />
        <activity android:name=".UserPortal.ExchangeItemViewPage" />
        <activity android:name=".UserPortal.ExchangeItemUploadPage" />
        <activity android:name=".AuthenticationPages.LogInPage" />
        <activity android:name=".ProfileDisplay" />
        <activity android:name=".UserPortal.HomePage" />
        <activity android:name=".AuthenticationPages.SignUpInfoInputPage" />
        <activity android:name=".AuthenticationPages.SignUpPage" />
        <activity android:name=".NGOPortal.AdvancedSearchPage"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>